<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049770163620-5ep2fpns23sgn32loq058taaj2pn803c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049770163620-5ep2fpns23sgn32loq058taaj2pn803c</string>
	<key>API_KEY</key>
	<string>AIzaSyA-k4ljHusGr3e-Wifh4GoG2CypGslfZSE</string>
	<key>GCM_SENDER_ID</key>
	<string>1049770163620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usk.easynote</string>
	<key>PROJECT_ID</key>
	<string>easynote-40806</string>
	<key>STORAGE_BUCKET</key>
	<string>easynote-40806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049770163620:ios:b5c9eb8ff61c91bc559531</string>
</dict>
</plist>